/**
 * Table of Contents
 *
 *  1.0 - Colors
 *  2.0 - Fonts
 *  3.0 - Transitions
 *  4.0 - Elements

 * ----------------------------------------------------------------------------
 */
/**
 * 1.0 Colors
 * ----------------------------------------------------------------------------
 */
/**
 * 2.0 Fonts
 * ----------------------------------------------------------------------------
 */
/**
* 3.0 Transitions
* ----------------------------------------------------------------------------
*/
/**
 * 4.0 Elements
 * ----------------------------------------------------------------------------
 */
/**
 * Table of Contents
 *
 *  1.0 - Colors
 *  2.0 - Fonts
 *  3.0 - Transitions
 *  4.0 - Elements

 * ----------------------------------------------------------------------------
 */
 /**
* 3.0 Transitions
* ----------------------------------------------------------------------------
*/
.product-list {
  margin-top: 50px;
}
.product-list li {
  display: inline-block;
  max-width: 300px;
}
.product-list li img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 5px;
}
